---
import {getCollection} from 'astro:content';
import Layout from '@layouts/Layout.astro';
import ProductForm from "@components/ProductForm.astro";
import ProductImageGallery from "@components/ProductImageGallery.astro";
import BackButton from "@components/BackButton.astro";
import ProductSectionDivider from "@components/ProductSectionDivider.astro";
import ProductSizing from "@components/ProductSizing.astro";
import ProductPrice from "@components/ProductPrice.astro";
import Header from "@components/Header.astro";
import ProductTitle from "@components/ProductTitle.astro";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
    const products = await getCollection('product');
    return products.map(entry => ({
        params: {slug: entry.slug}, props: {entry},
    }));
}
// 2. When it's time to render, you can get the entry directly from the prop
const {entry} = Astro.props;
const images = [entry.data.image, entry.data.image, entry.data.image, entry.data.image] // @todo fetch product images
const {Content} = await entry.render();
---
<Layout title={`Odzież Robocza - ${entry.data.name}`}>
    <Header/>
    <div class="flex border-t border-black pt-2 px-4">
        <div class="flex w-24 bg-white">
            <div class="grid content-center grow">
                <BackButton/>
            </div>
        </div>
        <div class="flex-1 bg-white text-right">
            <ProductTitle title={entry.data.name}/>
        </div>
    </div>
    <ProductSectionDivider/>
    <ProductImageGallery product={entry} images={images}/>
    <ProductSectionDivider/>
    <ProductPrice/>
    <ProductSectionDivider/>
    <ProductForm productId={entry.data.id}/>
    <ProductSectionDivider/>
    <div class="mx-auto max-w-xl w-full px-8">
        <Content/>
    </div>
    <ProductSectionDivider/>
    <ProductSizing/>
</Layout>
