---
import type {CollectionEntry} from 'astro:content';
import QuickAddToCartButton from "./QuickAddToCartButton.astro";

interface Props {
    product: CollectionEntry<'product'>;
}

const {product} = Astro.props;
---

<div class="text-center">
    <h2>{product.data.name}</h2>
    <img src={product.data.image} alt={product.data.name} class="max-h-48"/>
    <a class="uppercase block underline" href={`/product/${product.slug}`}>Zobacz szczegóły</a>

    <QuickAddToCartButton productId={product.data.id}/>
</div>
