---
interface Props {
    productId: string;
}
const size = 'L';
const quantity = 1;
const {productId} = Astro.props;
---
<button class="bg-black text-white py-2 px-4 rounded-full uppercase"
        data-add-to-cart
        data-cart-drawer-show
        data-product-id={productId}
        data-product-variant-size={size}
        data-product-variant-quantity={quantity}>
    Zamów
</button>

<script>
    import {addProductToCart} from '../store/cart';

    const addToCartButtons = document.querySelectorAll('button[data-add-to-cart]');

    addToCartButtons.forEach((button) => {
        button.addEventListener('click', (event) => {
            addToCart(event);
        });
    });

    function addToCart(event) {
        event.preventDefault();
        addProductToCart(
            {
                id: event.target.dataset.productId,
                size: event.target.dataset.productVariantSize,
            },
            Number(event.target.dataset.productVariantQuantity)
        );
    }
</script>
