---
import {getCollection} from 'astro:content';
import ProductForm from "@components/product/ProductForm.astro";
import ProductImageGallery from "@components/product/ProductImageGallery.astro";
import BackButton from "@components/BackButton.astro";
import ProductSectionDivider from "@components/product/ProductSectionDivider.astro";
import ProductSizing from "@components/product/ProductSizing.astro";
import ProductPrice from "@components/product/ProductPrice.astro";
import ProductTitle from "@components/product/ProductTitle.astro";
import Layout from "@layouts/Layout.astro";
import Animation from "@components/story/Animation.astro";
import ArticleTitle from "@components/ArticleTitle.astro";
import Story from "@components/Story.astro";
import Header from "@components/Header.astro";
import CartDrawer from "@components/cart/CartDrawer.astro";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
    const products = await getCollection('product');
    return products.map(entry => ({
        params: {slug: entry.slug}, props: {entry},
    }));
}
// 2. When it's time to render, you can get the entry directly from the prop
const {entry} = Astro.props;
const images = [entry.data.image, entry.data.image, entry.data.image, entry.data.image] // @todo fetch product images
const {Content} = await entry.render();
---
<Layout title={`Odzież Robocza - ${entry.data.name}`}>
    <div class="grid lg:grid-cols-2">
        <div class="hidden lg:block order-2 lg:order-1 lg:h-screen lg:overflow-hidden bg-black text-white">
            <div class="lg:h-full lg:overflow-y-auto">
                <Animation/>
                <div class="px-10 pt-10">
                    <div class="mx-auto max-w-2xl">
                        <ArticleTitle text="Lorem ipsum dolor sit amet, consectetuer."/>
                        <div class="hidden lg:block">
                            <Story/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="order-1 flex bg-black gap-px lg:hidden lg:order-none">
            <div class="flex bg-white">
                <div class="grid content-center grow">
                    <div class="w-24 p-2">
                        <BackButton/>
                    </div>
                </div>
            </div>
            <Header/>
        </div>
        <div class="order-3 lg:order-2 flex flex-col lg:h-screen lg:overflow-y-auto scroll-smooth">
            <div class="hidden lg:flex bg-black gap-px">
                <Header/>
            </div>
            <div class="flex border-t border-black pt-4 px-4">
                <div class="hidden lg:flex w-24 bg-white">
                    <div class="grid content-center grow">
                        <BackButton/>
                    </div>
                </div>
                <div class="flex-1 bg-white text-center lg:text-right">
                    <ProductTitle title={entry.data.name}/>
                </div>
            </div>
            <ProductSectionDivider/>
            <ProductImageGallery product={entry} images={images}/>
            <ProductSectionDivider/>
            <ProductPrice/>
            <ProductSectionDivider/>
            <ProductForm productId={entry.data.id}/>
            <ProductSectionDivider/>
            <div class="mx-auto max-w-xl w-full px-8">
                <Content/>
            </div>
            <ProductSectionDivider/>
            <ProductSizing/>
        </div>
    </div>
    <CartDrawer/>
</Layout>
