---
import { getCollection } from 'astro:content';
import ProductForm from '@components/product/ProductForm.astro';
import ProductImageGallery from '@components/product/ProductImageGallery.astro';
import BackButton from '@components/BackButton.astro';
import ProductSectionDivider from '@components/product/ProductSectionDivider.astro';
import ProductSizing from '@components/product/ProductSizing.astro';
import ProductPrice from '@components/product/ProductPrice.astro';
import ProductTitle from '@components/product/ProductTitle.astro';
import Layout from '@layouts/Layout.astro';
import Stones from '@components/story/Stones.astro';
import ArticleTitle from '@components/ArticleTitle.astro';
import Story from '@components/Story.astro';
import Header from '@components/Header.astro';
import CartDrawer from '@components/cart/CartDrawer.astro';
import { getProduct } from '../../productRepository';
import DropFaq from '@components/DropFaq.astro';
import Footer from '@components/Footer.astro';

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
    const products = await getCollection('product');
    return products.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}
// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props;
const images = entry.data.images;
const { Content } = await entry.render();
const product = getProduct(entry.data.id);
---

<Layout title={`Odzież Robocza - ${product.name}`}>
    <div class="grid lg:grid-cols-2">
        <div class="order-2 hidden bg-black text-white lg:order-1 lg:block lg:h-screen lg:overflow-hidden">
            <div class="lg:h-full lg:overflow-y-auto">
                <Stones />
                <div class="px-10 pt-10">
                    <div class="mx-auto max-w-2xl">
                        <ArticleTitle text="Poznać ramion siłę!" />
                        <div class="hidden lg:block">
                            <Story />
                            <hr class="mt-16 h-px border-white bg-white" />
                            <Footer />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="z-20 order-1 lg:order-none lg:hidden">
            <Header showBackButton={true} />
        </div>
        <div class="order-3 flex flex-col scroll-smooth lg:order-2 lg:h-screen lg:overflow-y-auto">
            <div class="hidden lg:block">
                <Header />
            </div>
            <div class="flex border-t border-black px-4 pt-2">
                <div class="hidden h-14 w-14 bg-white lg:flex lg:h-16 lg:w-16">
                    <div class="grid grow content-center">
                        <BackButton />
                    </div>
                </div>
                <div class="flex-1 bg-white text-center lg:text-right">
                    <ProductTitle title={product.name} />
                </div>
            </div>
            <ProductSectionDivider />
            <ProductImageGallery product={product} />
            <ProductSectionDivider />
            <ProductPrice price={product.price} />
            <ProductSectionDivider />
            <ProductForm product={product} />
            <ProductSectionDivider />
            <div class="prose mx-auto w-full max-w-xl px-8 leading-normal">
                <Content />
            </div>
            <ProductSectionDivider />
            <ProductSizing sizeChart={product.sizeChart} />
            <ProductSectionDivider />
            <div class="mx-auto w-full max-w-xl px-8">
                <DropFaq />
            </div>
        </div>
        <div class="order-4 lg:hidden">
            <div class="bg-black px-8 py-4">
                <Footer />
            </div>
        </div>
    </div>
    <CartDrawer />
</Layout>
